<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "52 Week Ham Radio Challenge 2025" %></title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hamchallenge.org/" />
    <meta property="og:image" content="https://hamchallenge.org/logo.png" />
    <meta property="og:description" content="52 weeks, 52 challenges. The #hamchallenge is meant to inspire you to extend your horizon in amateur radio by weekly challenges that touch all aspects of ham radio." />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
